<fieldset><div id="fb-editor"></div></fieldset>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
<script>
    $(document).ready(function () {
        var textArea = $('[name="{{ widget.name }}"]')
        var options = {
            disabledActionButtons: ['save'],
            disabledAttrs: [
                'access',
                'name',
                'className',
                'inline',
                'other',
                'toggle',
            ],
            disabledSubtypes: {
                text: ['color', 'tel', 'password'],
                textarea: ['tinymce'],
            },
            disableFields: ['autocomplete', 'button', 'file', 'header', 'paragraph', 'starRating', 'select', 'hidden', 'date' ],
            editOnAdd: true,
            formData: textArea.val().trim(),
            scrollToFieldOnAdd: true,
            stickyControls: {
                enable: true,
                offset: {
                    top: 20,
                    right: 20,
                    left: 'auto'
                }
            }
        };
        var formBuilder = $('#fb-editor').formBuilder(options);
        $("form").submit(function (e) {
            textArea.val(formBuilder.actions.getData('json'))
            $('#fb-editor :input').attr('disabled', true);
        });
    });
</script>
<style>
    .aligned label {
        float: none !important
    }
    .form-wrap.form-builder .frmb {
        min-height: 200px!important;
    }
    .form-wrap.form-builder .frmb .form-elements .false-label:first-child, .form-wrap.form-builder .frmb .form-elements label:first-child {
        float: left!important;
	width: 16.667%!important;
	padding-top: 7px!important;
    }
    .form-wrap.form-builder .frmb .field-actions .btn {
        padding: 0 6px!important;
    }	
    .form-wrap.form-builder .frmb .sortable-options > li .remove {
        padding: 0!important;
    }
</style>
<textarea name="{{ widget.name }}" style="display:none" {% include "django/forms/widgets/attrs.html" %}>
    {% if widget.value %}{{ widget.value }}{% else %}[]{% endif %}
</textarea>
